@Scripts.Render("~/MyBundle")
@{

        ViewBag.Title = "MedicoDashBoard";
        Layout = "~/Views/Shared/Medico.cshtml";
    }
    <div class="jumbotron">
        <h1>Gestor Medical</h1>
        <img src="~/Models/img/medic.jpg" class="img-responsive" />
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Gestionar de Visitas</h2>
            <p>
                Podrá registrar un evento de visita a un paciente seleccionado, asi como ver las
                visitas anteriores. Para cada visita se registrarán los campos:
                Fecha, Motivo, Comentario, Receta de medicamentos, fecha de próxima visita.

            </p>
            <p class="btn btn-success">@Html.ActionLink("Gestionar Visitas", "Index", "visitas")</p>
        </div>
        <div class="col-md-6">
            <h2>Citas</h2>
            <p>
                El medico puede definir una fecha para consulta (cita) próxima.
                Puede consultar el calendario de citas.


            </p>
            <p class="btn btn-success">@Html.ActionLink("Geationar Cita", "Index", "citas2")</p>
        </div>
    </div>